*{
    margin :0;
    padding :0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;


}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
}

#header{
    width: 80%;
    height :90vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/helo.png);
}
.container{
    padding:10px 10%;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a{
    color: #fff;
    text-decoration: none;
    font-optical-sizing: 18px;
    position: relative;
 }
 nav ul li a::after{
    content:' ';
    width : 0%;
    height : 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
} 
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color :#ff004f;
}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
}
.titles{
    display: flex;
    margin: 20px 0 40px;

}
.links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    position: relative;
}
.links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.links.active-link::after{
    width: 60%;
}
.contents{
    list-style: none;
    margin: 10px 0;

}
.contents ul li span{
    color:#b54769;
    font-size: 14px;

}
.contents{
    display: none;
}
.contents.active-tab{
    display:block;
    
}
#services{
    padding: 30px 0;
    
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s  ;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.contact-lest{
    flex-basis: 35%;
}
.contact-right{
    width: 60%;
}
.contact-lest p{
    margin-top: 30px;

}
.contact-lest p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display:inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translate(-5px);

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s transform 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
  width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
nav .fa-solid{
    display: none;
}

@media only screen and ( max-width: 600px){
    #header{
    background-image: url(images/heloman.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
        
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
    }
    .about-col1{
        margin-bottom: 30px;
    }
    .about-col2{
        font-size: 14px;
    }
    .links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-lest, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}

   
